.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    background-color: grey;
    display: grid;
    grid-row: span 2;
    grid-column: 1/2;
    grid-auto-flow: row;
    color: white
}

.sidebar-info{
    display: grid;
    grid-auto-flow: row;
    color: white;
    margin: 15px;
    
}

.Header{
    background-color: pink;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-trending{
    grid-column: 2/-1;
}